# =======================
# Dependencies
# =======================
node_modules/
venv/
.env
.env.*
__pycache__/
*.pyc

# =======================
# Backend / Django
# =======================
backend/.env
backend/db.sqlite3
backend/staticfiles/
backend/media/
backend/logs/
backend/*.log
backend/*.pot

# =======================
# Expo / React Native
# =======================
mobile/.env
.expo/
dist/
web-build/
expo-env.d.ts

# =======================
# Native / iOS & Android
# =======================
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
/ios
/android

# =======================
# Metro
# =======================
.metro-health-check*

# =======================
# Debug
# =======================
npm-debug.*
yarn-debug.*
yarn-error.*

# =======================
# OS files
# =======================
.DS_Store
*.pem

# =======================
# TypeScript
# =======================
*.tsbuildinfo

# =======================
# Misc / Example
# =======================
app-example
